@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
    font-family: 'PrettyWeirdo2';
    src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}

@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

#modalTitle, #location, 
#emailTitle, #firstName, 
#lastName {
    margin-left: 6%;
    font-family: 'PrettyWeirdo';
}

#buttonText {
    font-family: 'PrettyWeirdo';
}

#modalTitle {  
    color: blue
}

#emailTitle {   
    color: red;
}

#firstName {
    color: rgb(255, 156, 173);
}

#lastName {
    color: green;
}

#location{
    color: purple;
}

#backgroundImage {
    /* background-image: url('https://img.freepik.com/free-vector/hand-drawn-international-cat-day-background_23-2149487428.jpg?w=2000&t=st=1691642130~exp=1691642730~hmac=cfdf3c304f91a859462f333b680b81ed3fe3679f91f4a1420e56f48c4ef94ccd'); */
    background-image: url('./images/ProfileBackground1.png');
    background-color: rgb(133, 198, 230);
    background-repeat: no-repeat;
    background-size: cover;
}

.customFileUpload {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 10px;
    font-family: 'PrettyWeirdo';
    /* background-color: rgb(112, 148, 255);
    color: white;
    border-radius: 5px; */
}

.avatarImg {
    width: 140px;
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
}

.avatar {
    text-align: center;
}

.inputBar{
    width: 90%;
}

.inputTextPosition{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}