.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

.navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}

.navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}

.bg-customcolor1 {
    background-color: #D25BEA
}

.btn-custom-color {
    background-color: #1FFA06;
}

.underlined {
    text-decoration: underline;
    font-family: 'PrettyWeirdo';
    text-align: center;
}

@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
    font-family: 'PrettyWeirdo2';
    src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}


.hover:hover{
    background-color: #87bdff;
    transition:ease-in-out 0.5s;
    cursor: pointer;
    border-radius: 5px;
  }
