@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
    font-family: 'PrettyWeirdo2';
    src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}

#buttons {
    font-family: 'PrettyWeirdo';
}

#title {
    font-family: 'PrettyWeirdo';
    color: white
}