@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
    font-family: 'PrettyWeirdo2';
    src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}

#buttons {
    font-family: 'PrettyWeirdo';
}

#buttons:hover {
    background-color: rgb(246, 84, 149);
    color: black;
}

#title {
    font-family: 'PrettyWeirdo';
    color: white
}

.loginCard{
    border-radius: 15px;
    background-color: rgba(210, 91, 234, 0.9);
}