#profileBorder {
    border: 15px solid transparent;
    border-image: url('https://static.vecteezy.com/system/resources/previews/015/314/464/non_2x/abstract-modern-elegant-blue-gold-frame-border-social-media-free-png.png') 30 round;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 175px;
    height: 200px;
}

#profileImagePlacement {
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
}

#profileInfoBorder {
    /* border: 40px solid transparent;
    padding: 15px;
    border-image: url('https://static.vecteezy.com/system/resources/previews/013/078/397/non_2x/green-ornament-border-design-free-png.png') 30% round; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/ProfileBackground1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#viewAllUsers {
    position: fixed;
    top: 7%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
    font-family: 'PrettyWeirdo2';
    src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}
#firstNameTitle {
    font-family: 'PrettyWeirdo'
}

#lastNameTitle {
    font-family: 'PrettyWeirdo'
}

#emailTitle {
    font-family: 'PrettyWeirdo'
}

#firstName {
    font-family: 'PrettyWeirdo2'
}

#lastName {
    font-family: 'PrettyWeirdo2'
}

#email {
    font-family: 'PrettyWeirdo2'
}