#profileBorder {
    border: 15px solid transparent;
    border-image: url('https://static.vecteezy.com/system/resources/previews/015/314/464/non_2x/abstract-modern-elegant-blue-gold-frame-border-social-media-free-png.png') 30 round;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 175px;
    height: 200px;
}

#profileImagePlacement {
    aspect-ratio: 1;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30%;
}

#profileInfoBorder {
    /* border: 40px solid transparent;
    padding: 15px;
    border-image: url('https://static.vecteezy.com/system/resources/previews/013/078/397/non_2x/green-ornament-border-design-free-png.png') 30% round; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#backgroundProfileImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../app/images/ProfileBackground1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#backgroundTimagotchiImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, aqua, pink);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow-y: scroll;
}

#backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../app/images/ProfileBackground1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#viewAllUsers {
    position: fixed;
    top: 7%;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

#timCard{
    max-width: 35%;
    margin-left: 33%;
    margin-top: 5%;
    padding-left: 1%;
    padding-top: 1%;
}



@font-face {
    font-family: 'PrettyWeirdo';
    src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
    font-family: 'PrettyWeirdo2';
    src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}
#firstNameTitle {
    font-family: 'PrettyWeirdo'
}

#lastNameTitle {
    font-family: 'PrettyWeirdo'
}

#emailTitle {
    font-family: 'PrettyWeirdo'
}

#firstName {
    font-family: 'PrettyWeirdo2'
}

#lastName {
    font-family: 'PrettyWeirdo2'
}

#email {
    font-family: 'PrettyWeirdo2'
}

#tim-poop:hover{
    cursor: pointer;
}

.timPoop:hover{
    cursor: pointer;
}

#profilePicPosition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    #viewAllUsers {
        grid-template-columns: 100%
    }
}

@media (max-width: 480px){
    #timCard{
        margin-top: 20%;
        max-width: 80%;
        margin-left: 0;
    }
    #backgroundTimagotchiImage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}