#signupBox{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
  font-family: 'PrettyWeirdo';
  src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
  font-family: 'PrettyWeirdo2';
  src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}

#titleText {
  font-family: 'PrettyWeirdo';
}

.filledInText{
  font-family: 'PrettyWeirdo';
}

#buttonText {
  font-family: 'PrettyWeirdo';
  color: palevioletred;
}

#buttonText:hover {
  background-color: rgb(246, 84, 149);
  color: black;
}