#signupBox{
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@font-face {
  font-family: 'PrettyWeirdo';
  src: url('./fonts/Pretty\ Weirdo\ Fill.otf');
}

@font-face {
  font-family: 'PrettyWeirdo2';
  src: url('./fonts/Pretty\ Weirdo\ Outline.otf');
}

#titleText {
  font-family: 'PrettyWeirdo';
}

#email {
  font-family: 'PrettyWeirdo2';
}

#password {
  font-family: 'PrettyWeirdo2';
}

#firstName {
  font-family: 'PrettyWeirdo2';
}

#lastName {
  font-family: 'PrettyWeirdo2';
}

#location {
  font-family: 'PrettyWeirdo2';
}

#birthdate {
  font-family: 'PrettyWeirdo2';
}

#buttonText {
  font-family: 'PrettyWeirdo2';
  color: palevioletred;
}